<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" as="style">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap">
  <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>

  <title>Adoscope</title>
  @entryPointStyles('app')
  @entryPointScripts('app')

  <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>

</head>
<body>
  <main>
    <div id="app"></div>
  </main>
</body>
</html>
