@import './hl.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .adoscope-card-border {
    @apply border border-gray-200 dark:border-secondary-700 hover:border-primary focus:border-primary-800 dark:hover:border-primary-300 dark:focus:border-secondary focus:outline-none;
  }
  .adoscope-card-bg {
    @apply bg-white dark:bg-secondary-800;
  }
  .adoscope-border {
    @apply border-gray-200 dark:border-secondary-700;
  }
}

.nav {
  @apply flex space-x-4 bg-primary;
  .nav-item {
    @apply p-4;
  }
}

/**
  * Tables stylings
  */
.entries-table {
  @apply w-full text-left text-sm;

  th,
  td {
    padding: 0.75rem 1.25rem;
    @apply border-t border-primary-100 dark:border-secondary;
  }

  tr {
    @apply transition-colors;
  }

  th.table-fit,
  td.table-fit {
    @apply whitespace-nowrap w-1;
  }
}

/**
 * Vue-Json-Pretty custom styles
 */
.vjs-tree {
  font-family: Consolas;
  @apply dark:text-white text-black;
  .vjs-tree__node:hover {
    @apply bg-gray-50 dark:bg-secondary-700;
  }
}

/**
  * Scrollbar
  */
::-webkit-scrollbar-track {
	@apply dark:bg-secondary-800;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	@apply bg-primary-200 dark:bg-primary-800 rounded-lg;
}
